*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(90deg, rgb(167, 49, 161),rgb(64, 173, 201));
}
table{
    /* border: 1px solid blue; */
    margin: 50px auto 0 auto;
}
th{
    color: whitesmoke;
    font-size: large;
}
tr, td{
    /* border: 1px solid green; */
    color: white;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    outline: none;
    margin: 10px;
    padding-left: 10px;
}
#search{
    padding: 8px;
    border: none;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(253, 23, 176);
    text-decoration: underline;
}
a:visited{
    color: red;
}
section{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
}

table{
    background-image:linear-gradient(90deg, rgb(73, 11, 11), rgb(43, 42, 42));
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 5px 10px rgb(73, 11, 11);
}
